<div class="get-specific-container-wrapper d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column w-75">
        <h1 class="get-specific-title">GET SPECIFIC.</h1>
        <p class="mb-4">Optionally choose more criteria for your playlist.</p>
        <div class="my-3">
            <label for="popularity" class="form-label">Popularity</label>
            <input type="range" class="custom-form-range" id="popularity">
            <div class="dot-bg"></div>
            <div class="line-bg"></div>
            <label for="energy" class="form-label">Energy</label>
            <input type="range" class="custom-form-range" id="energy">
            <label for="dance-ability" class="form-label">Dance-ability</label>
            <input type="range" class="custom-form-range" id="dance-ability">
            <label for="acoustics" class="form-label">Acoustics</label>
            <input type="range" class="custom-form-range" id="acoustics">
        </div>
        <a routerLink="/playlist" class="m-auto w-25"><button class="get-specific-btn w-100">Generate you playlist</button></a>
    </div>
</div>
