
#nav-bar {
    background-color: #3b3b3b !important;
    border-radius: 30px;
    font-weight: 200;
}

.list-group-link{
    list-style: none;
    padding: 4px 15px;
}

.list-group-link:hover{
    cursor: pointer;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 30px;
    padding: 4px 15px;
}

.active-tab {
    border: 1px solid rgb(176, 176, 176);
    border-radius: 30px;
    padding: 4px 15px;
}

