
#nav-bar {
    background-color: #3b3b3b !important;
    border-radius: 30px;
    font-weight: 200;
    width: 90%;
    overflow-x: hidden;
}

.list-group-link{
    list-style: none;
    padding: 0.45rem 0.9rem;
}

.list-group-link:hover{
    cursor: pointer;
    background-image: linear-gradient(45deg, #7adfff, #ff71cf);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    font-weight: 400;
    /* border: 1px solid rgb(139, 139, 139);
    border-radius: 30px;
    padding: 4px 15px; */
}

.active-tab {
    border: 1px solid rgb(176, 176, 176);
    border-radius: 30px;
    padding: 0.45rem 0.9rem;
}

a {
    text-decoration: none;
    color: #fff;
}
ul{
    margin: 0;
}

/* Small devices such as large phones (640px and up)
@media only screen and (min-width: 40em) {
    #nav-bar {
        width: 95vw;
        overflow: hidden;
    }

} */