<div id="nav-bar" class="w-md-75 m-auto mt-3 px-4 py-md-2">
    <ul class="d-flex flex-row justify-content-between w-100 list-group align-items-center">
        <li class="list-group-link">
           <a routerLink="/"
           routerLinkActive="active-tab"
           [routerLinkActiveOptions]="{ exact: true }"
           >
            Home
        </a> 
        </li>
        <li class="list-group-link">
           <a routerLink="/browse"
                routerLinkActive="active-tab"
                ariaCurrentWhenActive="page"
           >
           Browse
        </a> 
        </li>
        <li class="list-group-link">
            <a routerLink="/getstarted"
                routerLinkActive="active-tab"
                ariaCurrentWhenActive="page">
                Generate Playlist
        </a>
        </li>
    </ul>
</div>
