<div class="playlist-container-wrapper d-flex justify-content-center align-items-center">
    <div *ngIf="tracks" class="d-flex flex-column w-75">
        <h1 class="playlist-title">Your Playlist</h1>
        <table>
            <tr>
            <th>Track</th>    
            <th></th>
            <th>Artist</th> 
            <th>Album</th>
            <th>Time</th>
            </tr>
            <tr *ngFor=" let track of tracks">
                <td class="img" class="track-name-col">
                   <img [src]="track.album.images[2].url"/> 
                </td>
                <td class="track-name-col">
                   <span>{{track.name}}</span>
                </td>
                <td class="track-name-col">{{track.artists[0].name}}</td>
                <td class="track-name-col">{{track.album.name}}</td>
                <td class="track-name-col">{{msConversion(track.duration_ms)}}</td>  
            </tr>
        </table>   
        <a routerLink="/getstarted" class="m-auto w-25"><button class="playlist-btn w-100">Create new playlist</button></a>
    </div>    
</div>

