<div class="get-started-container-wrapper d-flex justify-content-center align-items-center">
<div class="get-started-container d-flex flex-column w-75">
  <h1 class="get-started-title">GET STARTED.</h1>
  <p class="my-2">Choose up to 5 options of any combination fo genre, artist, or song. First specify the cateegory of your choice (artist, song, or genre), then type the name in.</p>
  <div class="my-2">
    <div class="d-flex gap-3">
      <div class="input-group mb-3 dropdown-input \">
        <select class="w-100" id="selectGroup">
          <option value="artist">Artist</option>
          <option value="genre">Genre</option>
          <option value="song">Song</option>
        </select>
      </div>
      <div class="input-group mb-3 text-input">
        <input type="text" class="form-control w-100" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <div class="d-flex gap-3">
        <div class="input-group mb-3 dropdown-input \">
          <select class="w-100" id="selectGroup">
            <option value="artist">Artist</option>
            <option value="genre">Genre</option>
            <option value="song">Song</option>
          </select>
        </div>
        <div class="input-group mb-3 text-input">
          <input type="text" class="form-control w-100" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="d-flex gap-3">
        <div class="input-group mb-3 dropdown-input \">
          <select class="w-100" id="selectGroup">
            <option value="artist">Artist</option>
            <option value="genre">Genre</option>
            <option value="song">Song</option>
          </select>
        </div>
        <div class="input-group mb-3 text-input">
          <input type="text" class="form-control w-100" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="d-flex gap-3">
        <div class="input-group mb-3 dropdown-input \">
          <select class="w-100" id="selectGroup">
            <option value="artist">Artist</option>
            <option value="genre">Genre</option>
            <option value="song">Song</option>
          </select>
        </div>
        <div class="input-group mb-3 text-input">
          <input type="text" class="form-control w-100" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="d-flex gap-3">
        <div class="input-group mb-3 dropdown-input \">
          <select class="w-100" id="selectGroup">
            <option value="artist">Artist</option>
            <option value="genre">Genre</option>
            <option value="song">Song</option>
          </select>
        </div>
        <div class="input-group mb-3 text-input">
          <input type="text" class="form-control w-100" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
  </div>
  <a routerLink="/getspecific" class="m-auto w-25"><button class="get-started-btn w-100">Next</button></a>
</div>
</div>