<div class="get-started-container-wrapper d-flex justify-content-center align-items-center">
<div class="get-started-container d-flex flex-column w-75">
  <h1 class="get-started-title">GET STARTED.</h1>
  <p class="my-2">Choose up to 5 options of any combination fo genre, artist, or song. First specify the cateegory of your choice (artist, song, or genre), then type the name in.</p>
  <div class="my-2">
    <div>
      <div class="search-bar-container w-100 d-flex align-items-center justify-content-between">
        <div class="d-flex left-group">
          <div class="search-select">
            <select id="selectGroup" #selectGroup (change)="onSelectChange(selectGroup.value)">
              <option value="artist">Artist</option>
              <option value="genre">Genre</option>
              <option value="track">Song</option>
            </select>
          </div>
          <div *ngIf="chosenCriteria" class="d-flex align-items-center">
            <div *ngFor="let selected of chosenCriteria" class="d-flex align-items-center">
              <div class="selected-badge d-block">
                <button class="deleted-selected-btn" (click)="removePick(selected)"><i class='bx bxs-x-circle'></i></button>
                <span class="selected-text">{{selected.name}}</span>      
              </div>
            </div>
          </div>
          <input (keyup)="updateUserInput($event)" class="search-bar" type="text" *ngIf="chosenCriteria.length<5" placeholder="Search..."/>
        </div>
        <button *ngIf="chosenCriteria.length<5" class="search-btn" (click)="search()"><i class='bx bx-search'></i></button>
      </div> 
    </div>
    <div *ngIf="searchResults" class="search-results">
      <ng-template #artist [ngIf]="selectedType === 'artist'">
        <table>
          <tr *ngFor=" let item of (searchResults | async)?.artists?.items;index as i">
              <td *ngIf="i<11" class="track-name-col" (click)="addCriteria(item)">{{item.name}}</td> 
          </tr>
        </table> 
      </ng-template>
      <ng-template #genre [ngIf]="selectedType === 'genre'">
        <table>
          <tr *ngFor="let item of (filteredGeneres | async); index as i">
              <td *ngIf="i<11" class="track-name-col" (click)="addGenre(item)">{{item}}</td>
          </tr>
        </table>
      </ng-template>  
      <ng-template #song [ngIf]="selectedType === 'track'">
        <table>
          <tr *ngFor=" let item of (searchResults | async)?.tracks?.items;index as i">
              <td *ngIf="i<11" class="track-name-col" (click)="addCriteria(item)"> {{item.name}} by {{item.artists[0].name}}</td>
          </tr>
        </table>
      </ng-template>
    </div>
  </div>
  <a (click)="next()" class="m-auto w-25"><button class="get-started-btn w-100">Next</button></a>
</div>
</div>