.get-started-container-wrapper{
    height: 90vh;
}

.search-bar-container{
    background-color: #3b3b3b;
    border-radius: 10px;
    
}

.search-bar {
    background: none;
    border: none;
    color: #fff;
}

.search-bar:focus{
    outline: none;
}
.search-select{
    margin-right: 1rem;
    border-right: solid 1px#6e6e6e;
    padding:.5rem .35rem;
}
#selectGroup{
    background-color: #3b3b3b;
    color: #fff;
    border: none;
    width: 100%;
    font-weight: 200;
}

#selectGroup:focus{
    outline: none;
}
.left-group{
    width: 90%;
}

.search-btn{
    background: none;
    border: none;
    color: #70F6FF;
    margin-right: .5rem;
}
.search-btn:hover{
    color: #B77FFF;
}
.deleted-selected-btn{
    background: none;
    border: none;
}
.selected-badge{
    width: 5rem;
    height: 1.5rem;
    border-radius: 20px;
    background-color: #6e6e6e;
    color:#dddddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 .2rem;
}
.selected-text{
    font-weight: 200;
}

table{
    width: 100%;
    margin: 2rem 0;
}

td{
    font-weight: 200;
    border-top: #606060 solid 1px;  
    max-width: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .5rem;

}

tr:last-child{
    border-bottom: #606060 solid 1px; 
}

.track-name-col{
    max-width: 100%;  
}

tr:hover{
    background-color: rgba(95, 95, 95, 0.5);
    cursor: pointer;
}

.search-results {
    height: 30vh;
    overflow: scroll;
}

.get-started-title{
    font-weight: 600 !important;
    font-size: 3rem;
    background-image: linear-gradient(45deg, #B77FFF, #70F6FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.get-started-btn{
    position: relative;
    background-color: #3b3b3b !important;
    border-radius: 20px;
    color: #fff;
    padding: 10px 20px;
    font-weight: 200;
    margin-top: 5% !important;
    border-width: 5px;
    border: 0 solid transparent;
}

.get-started-btn:hover{
    animation: buttonHover .5s ease-in forwards;
}


.get-started-btn::before{
    content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  padding: 3px; 
  background:linear-gradient(45deg, #B77FFF, #70F6FF); 
  mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

p {
    font-weight: 200;
}