.get-started-container-wrapper{
    height: 90vh;
}

.dropdown-input{
    width: 25% !important;
}

.text-input{
    width:80%;
}

select{
    border-radius: 10px !important;
    background-color: #3b3b3b;
    border: none;
    color: #fff;
    font-weight: 200;
}
select:focus, select:active{
    border: none;
}

input, input:focus, input:active{
    border-radius: 10px !important;
    background-color: #3b3b3b;
    border: none;
    color: #fff;
    font-weight: 200;
}

.get-started-title{
    font-weight: 600 !important;
    font-size: 3rem;
    background-image: linear-gradient(45deg, #B77FFF, #70F6FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-size: 50%; */
}

.get-started-btn{
    position: relative;
    background-color: #3b3b3b !important;
    border-radius: 20px;
    color: #fff;
    padding: 10px 20px;
    font-weight: 200;
    margin-top: 5% !important;
    border-width: 5px;
    border: 0 solid transparent;
}

.get-started-btn:hover{
    animation: buttonHover .5s ease-in forwards;
}


.get-started-btn::before{
    content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  padding: 3px; 
  background:linear-gradient(45deg, #B77FFF, #70F6FF); 
  mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

p {
    font-weight: 200;
}