.landing-page-container{
    margin-top: 10%;
    width: 100%;
    overflow: hidden;
}

.left-side{
    position: relative;
    top: 0;
    left: 0;
}

.shape{
    position: relative;
    width: 90%;
    top: 0;
    left: 0;
}

.headphones{
    width: 60%;
    position: absolute;
    left: 18%;
    top: 8%;
    animation: bounce2 infinite 2s   ease-in-out ;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.more-info-text {
    font-weight: 200;
}

.button{
    background-color: #3b3b3b !important;
    border-radius: 20px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: 200;   
    margin-bottom: 10px;

}

.button:hover{
    animation: buttonHover .5s ease-in   forwards ;
}

.button-text:hover{
    background-image: linear-gradient(45deg, #7adfff, #ff71cf);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    
}
