<div class="container d-flex justify-content-between align-items-center h-100">
  <div class="left-side">
    <img class="shape" src="../../assets/Ellipse 1.png" />
    <img class="headphones" src="../../assets/3dicons.png" />
  </div>
<div class="w-25"></div>
  <div class="right-side w-75">
    <h1 class="display-1">CADENCE</h1>
    <p class="more-info-text">This is a playlist generator website that utilizing the Spotify API. Feel free to broswe through populat playlists or ablbums, or navigate to the genereate playlist tab. There, you can enter in your preferences and generate the perject playlist for you.</p>
    <a routerLink="/getstarted"><button class="button d-flex align-items-center justify-content-between">
        <span class="button-text">Generate your playlist now</span>
    </button></a>
  </div>
</div>
