 <div class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center w-75">
    <div class="left-side">
      <img class="shape" src="../../assets/Ellipse 1.png" />
      <img class="headphones" src="../../assets/3dicons.png" />
    </div>
  <div class="w-25"></div>
    <div class="right-side w-75 text-center text-lg-start">
      <h1 class="display-1">CADENCE</h1>
      <p class="more-info-text">This is a playlist generator website that utilizing the Spotify API. Feel free to broswe through populat playlists or ablbums, or navigate to the genereate playlist tab. There, you can enter in your preferences and generate the perject playlist for you.</p>
      <a routerLink="/getstarted"><button class="w-100 w-sm-25 button d-flex align-items-center  justify-content-center justify-content-md-between">
          <span class="button-text">Generate your playlist now</span>
      </button></a>
    </div>
  </div>