    <div *ngIf="topPlaylists" class="d-flex flex-column justify-content-center h-100 playlist-continer">
        <h1 class="mb-4">POPULAR PLAYLISTS</h1>
        <div class="gallery">
            <div class="box-1 d-flex align-items-center justify-content-between text-center" [routerLink]="'/browseplaylist/'+ topPlaylists.playlists.items[0].id">
                <span class="w-100 text-dark">{{topPlaylists.playlists.items[0].name}}</span>
            </div>
            <div class="box-2 d-flex align-items-center justify-content-between text-center" [routerLink]="'/browseplaylist/'+ topPlaylists.playlists.items[1].id">
                <span class="w-100 text-dark">{{topPlaylists.playlists.items[1].name}}</span>
            </div>
            <div class="box-3 d-flex align-items-center justify-content-between text-center" [routerLink]="'/browseplaylist/'+ topPlaylists.playlists.items[2].id">
                <span class="w-100 text-dark">{{topPlaylists.playlists.items[2].name}}</span>
            </div>
            <div class="box-4 d-flex align-items-center justify-content-between text-center" [routerLink]="'/browseplaylist/'+ topPlaylists.playlists.items[3].id">
                <span class="w-100 text-dark">{{topPlaylists.playlists.items[3].name}}</span>
            </div>
            <div class="box-5 d-flex align-items-center justify-content-between text-center" [routerLink]="'/browseplaylist/'+ topPlaylists.playlists.items[4].id">
                <span class="w-100 text-dark">{{topPlaylists.playlists.items[4].name}}</span>
            </div>
            <div class="box-6 d-flex align-items-center justify-content-between text-center" [routerLink]="'/browseplaylist/'+ topPlaylists.playlists.items[5].id">
                <span class="w-100 text-dark">{{topPlaylists.playlists.items[5].name}}</span>
            </div>
            <div class="box-7 d-flex align-items-center justify-content-between text-center" [routerLink]="'/browseplaylist/'+ topPlaylists.playlists.items[6].id">
                <span class="w-100 text-dark">{{topPlaylists.playlists.items[6].name}}</span>
            </div>
            <div class="box-8 d-flex align-items-center justify-content-between text-center" [routerLink]="'/browseplaylist/'+ topPlaylists.playlists.items[7].id">
                <span class="w-100 text-dark">{{topPlaylists.playlists.items[7].name}}</span>
            </div>
            <div class="box-9 d-flex align-items-center justify-content-between text-center" [routerLink]="'/browseplaylist/'+ topPlaylists.playlists.items[8].id">
                <span class="w-100 text-dark">{{topPlaylists.playlists.items[8].name}}</span>
            </div>
        </div>
        <div *ngIf="newAlbums" class="new-albums-div">
            <h1>NEW ALBUMS</h1>  
            <table >
                <tr>
                <th>Album</th>    
                <th></th>
                <th>Artist</th> 
                <th>Tracks</th>
                <th>Release date</th>
                </tr>
                <tr *ngFor=" let album of newAlbums.albums.items">
                    <td class="img" class="track-name-col">
                    <img [src]="album.images[1].url"/> 
                    </td>
                    <td class="track-name-col">
                    <span>{{album.name}}</span>
                    </td>
                    <td class="track-name-col">{{album.artists[0].name}}</td>
                    <td class="track-name-col">{{album.total_tracks}}</td>
                    <td class="track-name-col">{{album.release_date}}</td>  
                </tr>  
            </table>
        </div>
    </div>    



